@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --white: #ffffff;
    --black: #000000;
}


*{
    box-sizing: border-box;
    list-style: none;
    font-family: 'Inter', sans-serif;
    color: var(--white);
    text-align: center;
}

#intro{ 
    display: none 
}


#header{
    padding-top: 2em;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-align: center;
    padding-bottom: 2em;
}


html, body{
    background-color: var(--black);
    height: 2000px;
    text-align: center;
}


#container{
    margin-top: 0em;
    text-align: center;
}
h2,h3{
    margin-bottom: 1.5em;
}
p{
    margin-bottom: 2em;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}


#wordViz{
    text-align: center;
}

#netflixWatches li{
    margin: 25em;
}
#globeSection{
    margin-bottom: 15em;
}

hr{
    background-color: black;
    margin-bottom: 15em;
    height:0px !important;
    display: none;
}