body{
  text-align: center;
  margin-top:30px;
}

/* changing the circle in the datagroup and not the datagroup itself */

/* .datagroup circle:hover{
  opacity: 1;
} */

/* hover on whole data group - change the circle */
/* .datagroup:hover circle{
  opacity: 1;
  fill:rgb(255, 93, 18);
  transform: scale(2);
}

.datagroup text{
  visibility: hidden;
}

.datagroup:hover text{
  visibility: visible;
}

.datagroup:hover{
  cursor:default;
}

.datagroup circle{
  transition: transform 100ms;
} */